.circle{
    width: 150px;
    height: 150px;
    border: 2px solid transparent;
    border-radius: 100%;
    border-top: 2px solid red;
    border-right: 2px solid red;
    border-bottom: 2px solid red;
    border-left: 2px solid red;
    transform: rotate(60deg);
    position: absolute;
     clip-path: inset(0 0 0 15px )
}

.circle p{
    transform: rotate(-60deg);
/*    text-align: center;*/
    position: absolute;
    top: 30%;
    left: 40%;
}